<h1>Edit an Appointment!</h1>

<%= render partial: "form", locals: {appointment: @app} %>

<% @app.errors.full_messages.each do |error| %>
<%= error %> <br>
<% end %>


<h3>Current Date/Time:
<span id="datetime"></span>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
</h3>

